footer{
    display: none;
}

#emailNewsLetter {
    height: 40px;
    line-height: 40px;
    padding: 0;
    padding-left: 10px;
}

#emailNewsLetterLabel {
    width:min-content;
    top: 5px;
    padding: 0px 3px 0px 3px;
    margin: 0;
    left: 15px;
    height: min-content;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    opacity: 75% !important;
    transform: scale(0.85) translateY(-1.23rem) translateX(0.15rem) !important;
}