#userAccountButton {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    display: none;
}

.userAccountDiv .dropdown-menu {
    background-color: rgb(24, 27, 50);
}

.userAccountDiv .dropdown-item {
    color: rgb(220, 220, 220) !important;
}

.userAccountDiv .dropdown-item:hover {
    background-color: rgb(47, 47, 110) !important;
    color: white !important;
}

.hidden{
    display: none;
}

header {
    background-color: rgba(164, 164, 164, 0.176);
    margin-bottom: 20px;
}

#companyLogo {
    background-color: rgb(198, 197, 197);
}

#companyName {
    font-size: 18px;
    font-family: cursive;
    font-weight: 500;
}

.searchBarDiv {
    margin-top: 10px;
    justify-content: end;
    margin-right: 20px;
    /* height: 40px; */
    padding-bottom: 10px;
}

.searchBarDiv>input {
    width: 250px;
}

.searchBarDiv>button {
    width: fit-content;
}


#mynavbar {
    justify-content: end;
}

.nav-item {
    min-width: 130px;
}

#mynavbar .signupLogin {
    min-width: fit-content;
}

#mynavbar .signupLogin>a {
    min-width: min-content;
    padding-left: 0px;
    padding-right: 0px;
}

#mynavbar .signupLogin>a:first-child {
    margin-right: 20px;
}