html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #e8eff7 !important; */
}

.wrapper {
  display: none;
  /* background: radial-gradient(rgb(221, 215, 217) 0%, rgb(100, 100, 107) 100%) !important; */
}

.priceInput {
  background-color: rgb(249, 245, 245) !important;
  width: 70px !important;
  display: inline-block !important;
}

.filterLabels {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  color: var(--bs-dark);
}

.filterDivs {
  margin-bottom: 20px;
}

.filterSelectsStyling {
  color: var(--bs-dark) !important;
  background-color: rgba(201, 191, 191, 0.218) !important;
  border-color: #2b8694;
  box-shadow: 0 0 0 .02rem #212529;
}

.sidebar {
  height: 100%;
  width: 250px;
  margin-left: 10px;
  position: absolute;
  top: 150px;
  padding-top: 20px;
}

main {
  border-left: 1px solid rgba(128, 128, 128, 0.242);
  margin-left: 250px;
  padding: 0px 10px;
  min-height: 100vh;
}

.sortPaginationDiv {
  display: flex;
  margin-bottom: 30px;
}

.sortDiv {
  display: flex;
  /* justify-content: end; */

  align-items: baseline;
}

.paginationDiv {}

#sortByLabel {
  display: block;
  margin-right: 10px;
  min-width: max-content;
  font-size: 16px;
  /* font-weight: 600; */
  font-family: Arial, Helvetica, sans-serif;
}

.sortGroup {
  margin-right: 80px;
  border: 1px solid rgba(74, 74, 74, 0.331);
}


.sort {
  color: var(--bs-dark) !important;
  background-color: rgba(201, 191, 191, 0.218) !important;
  width: max-content !important;
  border-right: 1px solid rgba(191, 191, 191, 0.742) !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;

  /* height:60px !important;
  padding:0 !important; */
}


.sortOrder {
  /* background-color: rgb(81, 81, 107) !important; original*/
  background-color: rgb(141, 141, 170) !important;
  color: rgb(19, 23, 59) !important;
  padding: 4px 10px 4px 10px !important;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#selectSearchBox {
  border-color: #2b8694;
  box-shadow: 0 0 0 .10rem #212529d0;
}

#selectSearchBox::-webkit-search-cancel-button {
  display: none;
}


.card-body label {
  font-size: 15px;
  color: var(--bs-dark);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.collapsibleAwardsDiv {
  color: #282ab9;
  margin: auto;
  width: fit-content;
}

.collapsibleAwardsDiv>label {
  color: #cfc42c;
}


#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: none;
}